* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
    /* width: 100%;
    height: 100%; */
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    z-index: -2;
    filter: brightness(0.95);
    background-position: center;
    transition: background-image 1s ease-in-out;
}



.overlayx {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,rgb(0, 0, 0, 0.9),rgba(0, 0, 0, 0.4));
    z-index: -1;
}

.overlayy {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #121212, #12121285, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    z-index: -1;
}

header {
    width: 100%;
    padding: 20px 30px;
    background: linear-gradient(to right,#001024, #0d0d0d, #1c013b);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
}

.logo {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}

.logo-img img {
    width: 40px;
    height: 40px;
    background: transparent;
    background-size: cover;
    mix-blend-mode: screen;
    cursor: pointer;
    border-radius: 50%;
}

.logo-text {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    color: #a300ff;
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: .5vmin;
    margin-right: 10px;
}

.nav-links, .header-right { display: none; }

@media (min-width: 1100px) {
    .mobile-menu { display: none; }
    .nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    }
    .nav-links div {
    font-size: 15px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    }
    .nav-links div.dropdown::after {
    content: " ▼";
    font-size: 10px;
    color: #a300ff;
    margin-left: 6px;
    }
    .nav-links div:hover { 
        color: #a200ff; 
        transition: all 0.3s ease;
    }

    .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
    }
    .header-right .cart {
        color: white;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
    }

    .header-right .cart:hover {
        color: #a6ff00;
        transition: all 0.3s ease;
    }

    .header-right .client-area {
        background: #a300ff;
        padding: 8px 20px;
        border-radius: 20px;
        color: white;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }

    .header-right .client-area:hover {
        background: #8e00bd;
        transition: all 0.3s ease;
    }
}

@media (max-width: 1099px) {
    .menu-toggle { display: block; }
    .mobile-menu {
    display: block;
    position: fixed;
    top: 0; left: -100%;
    width: 50%;
    height: 100vh;
    background: #0d0d0df6;
    z-index: 20;
    padding: 30px;
    transition: left 0.3s ease;
    overflow: scroll;
    }
    .mobile-menu.active { left: 0; }

    .mobile-menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    }

    .mobile-menu ul {
    list-style: none;
    padding: 0;
    }

    .mobile-menu ul li {
    color: rgb(235, 211, 255);
    font-size: 18px;
    margin: 20px 0;
    cursor: pointer;
    }

    .mobile-menu ul li:hover {
    color: #3fb9ff;
    transition: all 0.3s ease;
    }

    /* .mobile-menu ul li.dropdown-toggle::after {
    content: ' ▼';
    font-size: 16px;
    color: #a300ff;
    } */

    .mobile-buttons {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    align-items: center;
    }
    

    .mobile-buttons .cart {
    color: white;
    font-size: 15px;
    cursor: pointer;
    }

    .mobile-buttons .cart:hover {
    color: #a6ff00;
    transition: all 0.3s ease;
    }

    .mobile-buttons .client-area {
    background: #a300ff;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    }

    .mobile-buttons .client-area:hover {
        background: #8e00bd;
        transition: all 0.3s ease;
    }   

    .dropdown-list {
        display: none;
        margin-left: 15px;
        margin-top: 10px;
    }

    .dropdown-list li a{
        font-size: 15px;
        margin: 2px 0;
        color: #e3e6bc;
    }

}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
    height: 80vh;
    overflow: hidden;
}

.left-content {
    max-width: 50%;
    color: white;
    margin: 0px 60px;
}

.left-content .details {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag {
    background-color: #1869c5;
    padding: 4px 12px;
    display: inline-block;
    border-radius: 15px;
    font-size: 12px;
    margin-bottom: 20px;
}

.title {
    font-size: 70px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10px;
}

.price {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.price span {
    font-size: 50px;
    color: #91ff00;
}

.vline{
    width: 3px;
    height: 100px;
    background: linear-gradient(to bottom, #636363, #6e6e6e);
    position: relative;
    margin: 0px 10px;
}

.desc {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
    color: #ccc;
}

.title.animate{
  animation: floatIn 0.6s ease-out;
}

.price.animate {
  animation: floatIn 0.6s ease-out;
}

.desc.animate {
  animation: floatIn 0.6s ease-out;
}

.vline.animate {
  animation: floatIn 0.6s ease-out;
}

.start-button {
    background: #0865b1;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
    cursor: pointer;
}

.tag.animate, .start-button.animate {
  animation: floatRight 0.6s ease-out;
}

@keyframes floatIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatRight {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.right-image {
    max-height: 500px;
    max-width: 100%;
    object-fit: contain;
}

.start-button:hover {
    background: #c33cf0;
}

.right-image {
    max-height: 500px;
    max-width: 100%;
    object-fit: contain;
}

.bottom-tabs {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: transparent;
    height: 80px;
    align-items: center;
    z-index: 3;
    bottom: 0px;
    padding: 0px 20px;
}

.tab {
    width: 100%;
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 5px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.tab.active::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background: linear-gradient(to right, #31004d, #0f64c4, rgb(0, 153, 255));
    z-index: 0;
    animation: fillTab 5s forwards;
}

.tab span {
    position: relative;
    z-index: 1;
}

@keyframes fillTab {
    0% { width: 0%; }
    100% { width: 100%; }
}

::-webkit-scrollbar{
    width: .7vw;
}

::-webkit-scrollbar-thumb{
    background:#ffffff44;
}

::-webkit-scrollbar-thumb:hover{
    background:#ffffff79;
}